.top-menu-right{
display: flex; 
position:absolute;
right:0;
flex-wrap: wrap;
right: 10px;
justify-content: space-around;
align-items: baseline;
}

div.ui.menu .item:before {
    background: none;
}

.logo{
    position:absolute;
    left: 96px;
    }
